.main-page {
  &-inputs {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #818181;
    background-color: white;

    input[type=text] {
      width: max-content;
      border: 1px solid #818181;
      border-radius: 5px;
      padding: 5px;
    }

    &-btn {
      &-reset, &-filter {
        padding: 5px 10px;
        border-radius: 5px;
      }

      &-reset {
        margin-right: 20px;
        border: 1px solid darkslategray;
        color: darkslategray;
        background-color: white;
      }

      &-filter {
        border: none;
        color: white;
        background-color: darkslategray;
      }
    }
  }
}
